head{
    background-color: rgb(125, 239, 243);
    color:black;
    text-align: center;
    max-width: 800px;
    margin: 0  auto;
    border: 5px solid rgb(238, 231, 130);
    padding: 16px ;
}
main{
    background-color:white;
    color:blue;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    width: 80px;
    height: 80px;   
}
div p{
    font-weight: bold;
}
.artigo-autor{
    font-weight: bold;
}
article{
    display: flex;
}