head{
    background-color: rgb(125, 239, 243);
    color:black;
    text-align: center;
}
main{
    background-color:white;
    color:blue;
    text-align: center;
    max-width: 800px;
    margin: o auto;

    
}